@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fade {
    transition: opacity 1s ease-in-out;
}
.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}

.dark-mode .notification-banner {
    background-color: #2c2c2e;
}

.notification-banner {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EEE;
  padding: 0.25rem;
  height: 89px;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

.dark-mode.footerContainer {
  background-color: #2a2a2a;
}
.footerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #000;
}

.dark-mode .footerContainer::before {
  background-color: #fff;
}

.footerLink {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  text-decoration: none;
  color: #000;
  transition: all 0.15s ease-in-out;
  border-radius: 0.5rem;
  gap: 4px;
}

.dark-mode .activeFooterLink {
  background-color: #3a3a3a;
  color: white;
}

.footerLink i {
  font-size: 1.25rem;
  margin-bottom: 2px;
}

.footerLink span {
  font-size: 0.75rem;
}


.activeFooterLink {
  position: relative;
  font-weight: 600;
  color: rgba(51, 65, 85, 1);
}

.dark-mode .activeFooterLink {
  background-color: rgba(255, 255, 255, 0.1);
}

.activeFooterLink::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0.1;
  border-radius: 0.5rem;
  z-index: -1;
}

.dark-mode .activeFooterLink::before {
  opacity: 0.2;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
  position: absolute; /* Changed from fixed to absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Ensure loader is above other content */
}

.loader:before {
  content: "Loading..."
}

@keyframes l2 {
  to { background-size: 100% 3px }
}
